@import "tailwindcss";

body {
  max-height: 100vh;
}

h1 {
  font-size: 28px;
  font-weight: 600;
}

.MuiButtonBase-root {
  border-radius: 16px !important;
}

.MuiFormLabel-root {
  padding: 0 0.25rem;
}

.MuiInputBase-input {
  height: 3.2rem;
  line-height: 3.2rem;
  vertical-align: middle;
  padding: 0 1.25rem;
}
